<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <!--   <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>-->
   <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular.min.js" type="text/javascript" charset="utf-8"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src= "/js/QA.js"></script>
<script src="http://cdn.zingchart.com/zingchart.min.js"></script>
<script src="http://cdn.zingchart.com/angular/zingchart-angularjs.js"></script>
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>Free Bootstrap Background Slider Template- VEGA by Binarytheme</title>
     <!--REQUIRED STYLE SHEETS-->
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet" />
     <!-- FONTAWESOME STYLE CSS -->
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet" />
    <!-- VEGAS STYLE CSS -->
    <link href="/assets/scripts/vegas/jquery.vegas.min.css" rel="stylesheet" />
       <!-- CUSTOM STYLE CSS -->
    <link href="/assets/css/style.css" rel="stylesheet" />
     <!-- GOOGLE FONT -->
     <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
     <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    </head>
<body ng-app="myApp" ng-controller="reviewDisplayController">
   

    <!--Header section  -->
    <div class="container" id="home">
        <div class="row text-center">
      <div class="col-md-12" >
          <h1 class="head-main">     </h1>
           <h2 class="head-sub-main">    </h2>
          <h3 class="head-last">    </h3>
          </div>


            </div>
      </div>
    <!--End Header section  -->
<br>
<br>
<br>
<br>
<br>
     <!-- Navigation -->
      <nav class="navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="htttp://www.binarytheme.com">SARIKA PADMASHALI </a>
            </div>
            <!-- Collect the nav links for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#home">HOME</a>
                    </li>
                     <li><a href="#about">ABOUT</a>
                    </li>                    
                    <li><a href="#about-team">TEAM</a>
                    </li>
                       <li><a href="#price-sec">UPLOAD A VIDEO/IMAGE</a>
                        </li>
                     <li><a href="#services-sec">RATINGS</a>
                        </li>
                         <li><a href="#contact-sec">VIEW GRAPH</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav> 
     <!--End Navigation -->

    <!--About Section-->
    <section class="for-full-back color-white " id="about"  >
   <div class="container" >
      
            <div class="row text-center" >
                <div class="col-md-8 col-md-offset-2 ">
                    <h1>Sarika's Birthday Bash!!</h1>
                    <h4>
                        <strong>
                       Hello Everyone!! I request you guys to take time out of your busy schedule and wish Sarika
                       on her birthday by uploading images and videos. Your small gesture will make her day and my
                       day as well. Come up with a nice video which sweeps a smile across her face and be a part of
                       her birthday celebration. You guys remember right that her birthday is on 3rd December? So hurry up
                       and send me your recorded videos.
                            </strong>
                    </h4>
                    <h4><strong>Warning!!  Please upload the correct video since this UI 
                    does not provide an option of deleting it. Make sure you are
                    uploading the right one. Hahahahaha...Sorry about that but it
                    is true :p</strong></h4>
                </div>
                
            </div>
      </div>
</section>
    <!--End About Section-->

    <!-- About Team Section -->  
       <section class="for-full-back color-light" id="about-team"  >
   <div class="container" >
      
            <div class="row text-center" >
                <div class="col-md-8 col-md-offset-2 ">
                    <h1>Who Am I ?</h1>
                    <h4>
                        <strong>
                       I don't think you guys are interested in knowing my profile but still, I would like
                       to introduce myself. I am a nerd who has designed this website for one of her 
                       beloved best friends - Sarika :* The one who constantly works on her laptop but still never forgets to spend time with her :)
                            </strong>
                    </h4>
                </div>
                
            </div>
        <div class="row text-center" >
            <div class="col-md-12 g-pad-bottom" >
                <div class="col-md-4 col-sm-4 col-xs-6">
					</div>
                 <div class="col-md-4 col-sm-4 col-xs-6">
						<div class="team-member">
							<img src="assets/img/team.png" alt="">
                            <h3> <strong> SHIKHA KUKREJA </strong>
                                <br /><br />
						UI Designer</h3>
						</div>
					</div> 
            </div>
        </div>
      </div>
</section>
<!--End About Team Section -->

     <!-- Pricing Section -->
   
     <section class="for-full-back color-white " id="price-sec"  >
   <div class="container" >
          <div class="row text-center" >

<div class="col-md-12 g-pad-bottom" >
<form id="uploadForm" enctype="multipart/form-data" action="/uploadImage" method="post">
   <div class="row text-center">
   <h1>Upload an image</h1>
   <div class="col-md-6 col-sm-6">
   <div class="form-group">
  <input type="file" multiple="multiple" name="userPhoto"/>
  </div>
  </div>
 <div class="col-md-6 col-sm-6">
 <div class="form-group">
  <button type="submit">Click here</button>
  </div>
  </div>
  </div>
  </form>
</div>         
    </div>
          </div>
       </div>
         </section>

      <!--End Pricing Section -->

       
   <!-- Services Section -->  
     <section class="for-full-back color-light " id="services-sec">
    <div class="container" >
      
            <div class="row text-center" >
                <div class="col-md-8 col-md-offset-2 ">
                    <h1>RATINGS</h1>
                    <h4>
                        <strong>
                      This section is just for fun. For Sarika anyways she is her favorite which means that
                      your ratings does not hold any significant value. But kindly rate for me (Shikha Kukreja) as I have taken a 
                      lot of efforts to design each section :D
                            </strong>
                    </h4>
                </div>
                
            </div>
              <div class="row">
    	<div class="col-md-12">
    	<form name="myForm" ng-submit="submitForm()">
    	<ul>
    	<li ng-repeat="question in questions">
    	{{question.question}}
    			<div data-ng-repeat="item in question.choices">
    			<input id="{{item.id}}" type="radio" name="{{item.name}}" ng-model="model.question[$parent.$index]" value="{{item.text}}" ng-change="RadioChange(model.question[$parent.$index])"/>
  {{item.text}} &nbsp; &nbsp;
  </div>
  </li>
  </ul>
  <input type="button" value="Submit" ng-click="submitForm()"> 
  </form>
  <b>{{msg}}</b>
    	</div>
    	</div>
         </div>
</section>
    <!--End Services Section -->  
    <!-- Contact Section -->  
     <section class="for-full-back color-white " id="contact-sec"  >
   <div class="container" >      
            <div class="row text-center" >
            <h4><strong>To view the ratings given by people and to know what others think about you click on Get Graph button</strong></h4>
                <div class="col-md-12">
                <form id="getGraph" action="/getGraph" method="post">
                 <button type="submit" class="btn btn-primary">Get Graph</button>
                 </form>
                    <zingchart id="myChart" zc-values="<%=JSON.stringify(jsonArray)%>" zc-height="500" zc-width="600" zc-type="bar"></zingchart>
                </div>
                
             
            </div>
      </div>
</section>
<!--End Contact Section -->
    <!--footer Section -->
     <div  class="for-full-back "  id="footer" >
                
            </div>
    <!--End footer Section -->
     <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
     <!-- CORE JQUERY  -->
    <script src="/assets/plugins/jquery-1.10.2.js"></script>
     <!-- BOOTSTRAP CORE SCRIPT   -->
    <script src="/assets/plugins/bootstrap.js"></script>
    <!-- VEGAS SLIDESHOW SCRIPTS -->
    <script src="/assets/plugins/vegas/jquery.vegas.min.js"></script>
     <!-- CUSTOM SCRIPTS -->
    <script src="/assets/js/custom.js"></script>
     
</body>
</html>
